doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/layout.css')
        //script(src='/socket.io/socket.io.js')
    body.layout
        div.page
            div.page__header

            div.page__panel
            div.page__main
            div.page__popup

        script(src='/js/main.js')