doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/layout.css')
    body
        div#header
            div.projects

        block content

        script(src='/js/vendors.js')
        script(src='/js/main.js')
