<div class="clearfix">
    <div class="projects__select">
        {{? it && it._id && it.showCount > 1}}
        <div class="projects__select-more">
            <span class="projects__select-down fa fa-angle-down"></span>
            <span class="projects__select-up fa fa-angle-up"></span>
        </div>
        {{?}}
        <div class="projects__items"></div>
    </div>
    <button class="button button_mode_clean projects__button projects__button_create_project">
        <i class="fa fa-plus"></i>
        <span class="button__content">{{= i18n.t('projects.button_new_project')}}</span>
    </button>


        <button class="button projects__button projects__button_create_task">
            <i class="fa fa-plus"></i>
            <span class="button__content">{{= i18n.t('projects.button_new_task')}}</span>
        </button>

</div>
