<div class="clearfix">
    <a href="/" class="projects__link">
        <span class="fa projects__link-icon"></span>
        <div class="projects__link-header">{{=it.projectName }}</div>
        <div class="projects__link-description">{{=it.projectDescription }}</div>
    </a>
    <div class="projects__select">
        <div class="projects__items"></div>
    </div>

    <button class="button projects__button projects__button_create">
        <i class="fa fa-plus"></i>
        <span>New task</span>
    </button>
</div>
