.loading
    position relative

    &:before
        position absolute
        left 0
        right 0
        top 0
        bottom 0
        content ''

        background rgba(255, 255, 255, 0.7)

    &:after
        opacity .7
        spinner(30px)