.page
    height 100%
    min-height 100%


    &__main
        height 100%
        min-height 100%


    &__header
        &-projects
            float left

        &-language-switcher
            float right
            size 60px

        &-user
            float right