$colors = {
    black : #000,
    white : #fff,
    gray  : #999,
    gray-dark : #666,
    gray-light : #D4D4D4
}

$gray = {
    white  : #FBFBFB,
    light  : #ECECE8,
    middle : #D4D4D4
    dark   : #666
}

$blue = {
    light  : #DAE9FF,
    middle : #87AFDA
}

$green = {
    light : #6ACC6A,
    dark  : #298E29
}