$colors = {
    black : #000,
    white : #fff,
    light : #F9F9F9
}

$gray = {
    white  : #FBFBFB,
    light  : #ECECE8,
    middle : #D4D4D4
    dark   : #666
}

$blue = {
    light  : #DAE9FF,
    middle : #87AFDA,
    dark   : #275B92
}

$green = {
    light : #6ACC6A,
    dark  : #298E29
}

$red = {
    light : #FFA1A1,
    middle: #EA4E4E,
    dark  : #B71E1E
}

$yellow = {
    light : #FFFFAE,
    middle: #EFEF71
    dark  : #DEDE1A
}