<div class="auth__wrapper">
    <form class="auth__form">
        <input type="hidden" name="action" value="{{=it.action}}"/>
        {{? it.action === 'restore'}}
            <input type="hidden" name="restoreID" value="{{=it.restoreId}}"/>
        {{?}}

        <h3 class="auth__header">{{=it.actions[it.action].title}}</h3>

        {{? it.action !== 'forgot'}}
            {{? it.action !== 'restore'}}
                <label for="login" class="auth__label clearfix">
                    <div class="auth__label-text">Ваш логин в системе</div>
                    <div class="auth__label-field">
                        <i class="fa fa-user auth__label-icon"></i>
                        <input id="login"
                               class="auth__input"
                               type="text"
                               name="login"
                               placeholder="Логин"
                               required="required"/>
                    </div>
                </label>
            {{?}}

            <label for="password" class="auth__label clearfix">
                <div class="auth__label-text">Ваш пароль</div>
                <div class="auth__label-field">
                    <i class="fa fa-key auth__label-icon"></i>
                    <input id="password"
                           class="auth__input"
                           type="password"
                           name="password"
                           placeholder="Пароль"
                           required="required"/>
                </div>
            </label>

            {{? it.action === 'restore'}}
                <label for="repeatpassword" class="auth__label clearfix">
                    <div class="auth__label-text">Повторите пароль</div>
                    <div class="auth__label-field">
                        <i class="fa fa-key auth__label-icon"></i>
                        <input id="repeatpassword"
                               class="auth__input"
                               type="password"
                               name="repeatpassword"
                               placeholder="Повторите пароль"
                               required="required"/>
                    </div>
                </label>
            {{?}}
        {{?}}

        {{? it.action === 'registration' || it.action === 'forgot'}}
            <label for="email" class="auth__label clearfix">
                <div class="auth__label-text">Ваш существующий e-mail</div>
                <div class="auth__label-field">
                    <i class="fa fa-inbox auth__label-icon"></i>
                    <input id="email"
                           class="auth__input"
                           type="email"
                           name="email"
                           placeholder="Ваш почтовый ящик"
                           required="required"/>
                </div>
            </label>

            {{? it.action === 'registration'}}
                <label for="conditions" class="auth__label clearfix">
                    <input id="conditions"
                           type="checkbox"
                           name="conditions"
                           required="required"/>
                    <span>Я принимаю
                        <a class="auth__link" href="/conditions">
                            условия пользования сервисом
                        </a>
                    </span>
                </label>
            {{?}}

        {{?? it.action === 'login'}}
            <label for="remember" class="auth__label">
                <input id="remember" type="checkbox" name="remember"/>
                <span>Запомнить меня</span>
            </label>
        {{?}}

        <div class="auth__label">
            <button class="auth__button button button_size_fullwidth">
                {{=it.actions[it.action].buttonTitle}}
            </button>
        </div>

        <div class="auth__label auth__label_center">
            {{? it.action === 'login'}}
                <a class="auth__link" href="/login/forgot">Забыли пароль</a>
            {{??}}
                <a class="auth__link" href="/login">Войти</a>
            {{?}}
        </div>
    </form>
</div>