<div class="auth__wrapper">
    <form class="auth__form">
        <input type="hidden" name="action" value="{{=it.action}}"/>
        {{? it.action === 'restore'}}
            <input type="hidden" name="restoreID" value="{{=it.restoreId}}"/>
        {{?}}

        <h3 class="auth__header">{{=it.actions[it.action].title}}</h3>

        {{? it.action !== 'forgot'}}
            {{? it.action !== 'restore'}}
                <label for="login" class="auth__label clearfix">
                    <div class="auth__label-text">{{= i18n.t('auth.input.login_label')}}</div>
                    <div class="auth__label-field">
                        <i class="fa fa-user auth__label-icon"></i>
                        <input id="login"
                               class="auth__input"
                               type="text"
                               name="login"
                               placeholder="{{= i18n.t('auth.input.login')}}"
                               required="required"/>
                    </div>
                </label>
            {{?}}

            <label for="password" class="auth__label clearfix">
                <div class="auth__label-text">{{= i18n.t('auth.input.password_label')}}</div>
                <div class="auth__label-field">
                    <i class="fa fa-key auth__label-icon"></i>
                    <input id="password"
                           class="auth__input"
                           type="password"
                           name="password"
                           placeholder="{{= i18n.t('auth.input.password')}}"
                           required="required"/>
                </div>
            </label>

            {{? it.action === 'restore'}}
                <label for="repeatpassword" class="auth__label clearfix">
                    <div class="auth__label-text">{{= i18n.t('auth.input.password_repeat_label')}}</div>
                    <div class="auth__label-field">
                        <i class="fa fa-key auth__label-icon"></i>
                        <input id="repeatpassword"
                               class="auth__input"
                               type="password"
                               name="repeatpassword"
                               placeholder="{{= i18n.t('auth.input.password_repeat')}}"
                               required="required"/>
                    </div>
                </label>
            {{?}}
        {{?}}

        {{? it.action === 'registration' || it.action === 'forgot'}}
            <label for="email" class="auth__label clearfix">
                <div class="auth__label-text">{{= i18n.t('auth.input.email_label')}}</div>
                <div class="auth__label-field">
                    <i class="fa fa-inbox auth__label-icon"></i>
                    <input id="email"
                           class="auth__input"
                           type="email"
                           name="email"
                           placeholder="{{= i18n.t('auth.input.email')}}"
                           required="required"/>
                </div>
            </label>

            {{? it.action === 'registration'}}
                <label for="conditions" class="auth__label clearfix">
                    <input id="conditions"
                           type="checkbox"
                           name="conditions"
                           required="required"/>
                    <span>
                        {{= i18n.t('auth.input.conditions', {
                                escapeInterpolation: false,
                                open  : '<a class="auth__link" href="/conditions">',
                                close : '</a>'
                            })
                        }}
                    </span>
                </label>
            {{?}}

        {{?? it.action === 'login'}}
            <label for="remember" class="auth__label">
                <input id="remember" type="checkbox" name="remember"/>
                <span>{{= i18n.t('auth.input.remember')}}</span>
            </label>
        {{?}}

        <div class="auth__label">
            <button class="auth__button button button_size_fullwidth">
                {{=it.actions[it.action].buttonTitle}}
            </button>
        </div>

        <div class="auth__label auth__label_center">
            {{? it.action === 'login'}}
                <a class="auth__link" href="/login/forgot">{{= i18n.t('auth.forgot')}}</a>
            {{??}}
                <a class="auth__link" href="/login">{{= i18n.t('auth.sign_in')}}</a>
            {{?}}
        </div>
    </form>
</div>